<div class="hourly-info">
  <div class="row features">
    <div class="col-8">
      <p>PRECIPITATION</p>
    </div>
    <div class="col-4">
      <p>0%</p>
    </div>
  </div>
  <div class="row features">
    <div class="col-8">
      <p>Humidity</p>
    </div>
    <div class="col-4">
      <p>80%</p>
    </div>
  </div>
  <div class="row features">
    <div class="col-8">
      <p>Wind</p>
    </div>
    <div class="col-4">
      <p>{{ 5 | speedConversion : unitSystem | speedUnit : unitSystem }}</p>
    </div>
  </div>
  <div class="row cards">
    <div class="col-md">
      <div class="card text-center">
        <div class="card-body">
          <h5 class="card-title hour">12:00</h5>
          <div class="weather-icon">
            <img appWheatherIcon [weatherIcon]="weatherIcon" class="icon" />
          </div>
          <p class="card-text temperature">
            {{
              temperature[0]
                | temperatureConversion : unitSystem
                | temperatureUnit : unitSystem
            }}
          </p>
        </div>
      </div>
    </div>
    <div class="col-md text-center">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title hour">13:00</h5>
          <div class="weather-icon">
            <img appWheatherIcon [weatherIcon]="weatherIcon" class="icon" />
          </div>
          <p class="card-text temperature">
            {{
              temperature[1]
                | temperatureConversion : unitSystem
                | temperatureUnit : unitSystem
            }}
          </p>
        </div>
      </div>
    </div>
    <div class="col-md text-center">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title hour">14:00</h5>
          <div class="weather-icon">
            <img appWheatherIcon [weatherIcon]="weatherIcon" class="icon" />
          </div>
          <p class="card-text temperature">
            {{
              temperature[2]
                | temperatureConversion : unitSystem
                | temperatureUnit : unitSystem
            }}
          </p>
        </div>
      </div>
    </div>
    <div class="col-md text-center">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title hour">15:00</h5>
          <div class="weather-icon">
            <img appWheatherIcon [weatherIcon]="weatherIcon" class="icon" />
          </div>
          <p class="card-text temperature">
            {{
              temperature[3]
                | temperatureConversion : unitSystem
                | temperatureUnit : unitSystem
            }}
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
