main {
  border-radius: 25px;
  background-color: #222831;
  color: #ffffff;
  margin-top: 10vh;
}

@media (max-width: 768px) {
  .no-padding {
    padding: 0;
  }
}

.options {
  padding: 6vh;
  color: white;
}
