<div class="current-info">
  <div class="gradient"></div>
  <div class="location">
    <div class="row">
      <div class="col"><h3>Lviv</h3></div>
      <div class="col text-end"><app-dropdown></app-dropdown></div>
    </div>
  </div>
  <div class="date"><h4>21.06.2023</h4></div>
  <div class="weather-icon">
    <img src="../../assets/images/sunny.svg" class="icon" />
  </div>
  <div class="temperature">
    <h1>
      {{
        temperature
          | temperatureConversion : unitSystem
          | temperatureUnit : unitSystem
      }}
    </h1>
  </div>
  <div class="description"><h2>Sunny</h2></div>
</div>
