<div class="current-info">
  <div class="gradient"></div>
  <div class="location">
    <div class="row">
      <div class="col">
        <h3>{{ getCityName() }}</h3>
      </div>
      <div class="col text-end"><app-dropdown></app-dropdown></div>
    </div>
  </div>
  <div class="date">
    <h4>{{ currentDate | date : "dd.MM.yyyy" }}</h4>
  </div>
  <div class="weather-icon">
    <img appWeatherIcon [weatherIcon]="getWeatherIcon()" class="icon" />
  </div>
  <div
    class="temperature"
    *ngIf="cityWeather && cityWeather.weather.length > 0"
  >
    <h1>
      {{
        getTemperature()
          | temperatureConversion : unitSystem
          | temperatureUnit : unitSystem
      }}
    </h1>
  </div>
  <div
    class="description"
    *ngIf="cityWeather && cityWeather.weather.length > 0"
  >
    <h2>{{ geetWeatherDescription() }}</h2>
  </div>
</div>
